@model MensajeriaMVC.Models.contactos


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <h4 class="col-12 text-center">contactos</h4>
            <div class="col-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 form-group">
                @Html.LabelFor(model => model.nombre)
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.organizacion)
                @Html.EditorFor(model => model.organizacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.organizacion, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.puesto)
                @Html.EditorFor(model => model.puesto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.puesto, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.archivar_como_a)
                @Html.EditorFor(model => model.archivar_como_a, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.archivar_como_a, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.email)
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.mostrar_como)
                @Html.EditorFor(model => model.mostrar_como, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mostrar_como, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.pagina_web)
                @Html.EditorFor(model => model.pagina_web, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pagina_web, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.direccion_im)
                @Html.EditorFor(model => model.direccion_im, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_im, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.tel_trabajo)
                @Html.EditorFor(model => model.tel_trabajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_trabajo, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.tel_particular)
                @Html.EditorFor(model => model.tel_particular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_particular, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.fax_trabajo)
                @Html.EditorFor(model => model.fax_trabajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fax_trabajo, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.tel_movil)
                @Html.EditorFor(model => model.tel_movil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_movil, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.direccion_trabajo)
                @Html.EditorFor(model => model.direccion_trabajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_trabajo, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.direccion_correspondencia)
                @Html.EditorFor(model => model.direccion_correspondencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion_correspondencia, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.notas)
                @Html.EditorFor(model => model.notas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notas, "", new { @class = "text-danger" })
            </div>

            <div class="col-6 form-group">
                @Html.LabelFor(model => model.imagen)
                @Html.EditorFor(model => model.imagen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imagen, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 form-group text-center">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Menu", "MainView", new object { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

