@model MensajeriaMVC.Models.contactos

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">¿Seguro que quiere borrar este contacto?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.nombre): </span> @Html.DisplayFor(model => model.nombre)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.organizacion): </span> @Html.DisplayFor(model => model.organizacion)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.puesto): </span> @Html.DisplayFor(model => model.puesto)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.archivar_como_a): </span> @Html.DisplayFor(model => model.archivar_como_a)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.email): </span> @Html.DisplayFor(model => model.email)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.mostrar_como): </span> @Html.DisplayFor(model => model.mostrar_como)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.pagina_web): </span> @Html.DisplayFor(model => model.pagina_web)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.direccion_im): </span> @Html.DisplayFor(model => model.direccion_im)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.tel_trabajo): </span> @Html.DisplayFor(model => model.tel_trabajo)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.tel_particular): </span> @Html.DisplayFor(model => model.tel_particular)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.fax_trabajo): </span> @Html.DisplayFor(model => model.fax_trabajo)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.tel_movil): </span> @Html.DisplayFor(model => model.tel_movil)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.direccion_trabajo): </span> @Html.DisplayFor(model => model.direccion_trabajo)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.direccion_correspondencia): </span> @Html.DisplayFor(model => model.direccion_correspondencia)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.notas): </span> @Html.DisplayFor(model => model.notas)</p>
                </div>
                <div class="col-4">
                    <p><span class="bold">@Html.DisplayNameFor(model => model.imagen): </span> @Html.DisplayFor(model => model.imagen)</p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions text-center">
                <input type="submit" value="Borrar" class="btn btn-danger" />
                @Html.ActionLink("Contactos", "Index", "contactos", new object { }, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>

    