@model MensajeriaMVC.Models.contactos

@{
    ViewBag.Title = "Details";
}
<div class="text-center">
    <h2>Detalle</h2>
</div>
<style>
    .btn a {
        color: white;
        text-decoration: none
    }

    body {
        background-color: #F1F1F1;
    }
</style>


<div>
    <h4>contactos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.archivar_como_a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivar_como_a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mostrar_como)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mostrar_como)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagina_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagina_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_im)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_im)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_particular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_particular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_movil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_movil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_trabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_correspondencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_correspondencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

    </dl>
</div>
<p>
    <div class="col-md-offset-2 col-md-10">
        
        <div class ="btn btn-success" />
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
        
        <div class="btn btn-success">
            @Html.ActionLink("Menu", "MainView")
        </div> 
           
        
    </div>
      
</p>
